@tailwind base;
@tailwind components;
@tailwind utilities;

.font-logo {
    font-family: 'Yomogi', cursive;
}


$dark: #1A1B25;
$dark2: #2f3039;
body {
    background: linear-gradient(to bottom, $dark, $dark2);
    height: 100vh;
}